body {
    background-color: #000;
    color: #ddd;
    font-family: 'Inconsolata', monospace, monospace; /* we have this twice because firefox is a weenie */
    font-size: 11px;
    overflow-y: scroll;
}

div#logo {
    width: 192px;
    height: 30px;
    background: url(logo.png);
}

div#logo * {
    display: none;
}

#frame-outer {
    display: table;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
    #position: relative;
    overflow: visible;
}

#frame-inner {
    #position: absolute;
    #top: 50%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#content {
    #postion: relative;
    #top: -50%;
    height: 80%;
    text-align: left;
    margin: 0 5%;
    border: 1px solid #ddd;
    padding: 36px;
}

ul#navmenu {
    padding: 0px;
    color: #bbb;
    text-align: right;
    float: right;
}

ul#navmenu a {
    color: #bbb;
}
ul#navmenu a:link:hover, ul#navmenu a:visited:hover {
    color: #a0e821;
}

ul#navmenu li {
    display: inline;
    margin-left: 8px;
}

h1 {
    margin-top: 12px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
    color: #fff;
}

h2 {
    margin-top: 12px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}

code {
    font-family: inherit;
    color: #dd0;
}

a:link, a:visited {
    font-family: inherit;
    color: inherit;
    text-decoration: underline;
    font-weight: bold;
}

  a:link:hover, a:visited:hover {
      text-decoration: none;
      color: #a0e821;
  }

div#latest_version {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 14px;
    overflow: auto;
}

div#latest_version * {
    margin-top: 3px;
    margin-bottom: 1px;
}

div#latest_version #version_info, div#latest_version #download_button {
    width: 320px;
}

div#latest_version #version_info {
    float: left;
}

div#latest_version #download_button {
    float:right;
}

#download_button img {
    border: none;
}

.around_button {
    font-size: 10px;
}

div#latest_version #version_number {
    font-size: 26px;
}

div#latest_version #release_name {
    font-size: 12px;
}
